
<!DOCTYPE HTML>
<html>

<head>
    <title>
        JavaScript
      | Add new attribute to JSON object.
    </title>
</head>

<body style="text-align:center;"
      id="body">
    <h1 style="color:green;">
            GeeksForGeeks
        </h1>
    <p id="GFG_UP"
       style="font-size: 16px;
              font-weight: bold;">

    </p>
    <button onclick="gfg_Run()">
        Click here
    </button>
    <p id="GFG_DOWN"
       style="color:green;
              font-size: 20px;
              font-weight: bold;">
    </p>
    <script>
        var el_up =
            document.getElementById("GFG_UP");
        var el_down =
            document.getElementById("GFG_DOWN");
        var myObj = {
            'prop_1': {
                'prop_12': 'value_12'
            }
        };
        el_up.innerHTML = JSON.stringify(myObj);

        function gfg_Run() {
            myObj.prop_1["prop_11"] = "value_11";
            el_down.innerHTML = JSON.stringify(myObj);
        }
    </script>
</body>

</html>