<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bring me the tags DAWG</title>
    <link href="https://cdn.jsdelivr.net/bootstrap.tagsinput/0.8.0/bootstrap-tagsinput.css" rel="stylesheet"/>
</head>


<body>


<form id="searchform" action="{% url 'searchTag' %}" method="POST" accept-charset="utf-8">
    {% csrf_token %}
    <div class="container" style="margin-top:120px;">
        <input class="form-control" type="text" placeholder="Search" name="search_results">
    </div>
</form>

{%if r_json %}
{% for items in r_json %}

<div class="list-group">
    <p class="list-group-item clearfix" style="margin-bottom:5px;">
        {{items.label}}
        <small>
        <a href="{{items.url}}" rel="noopener noreferrer" target="_blank">
            {{ items.title}}</a>
        </small>
        {%if items.description %}
        <small class="card-text">: {{ items.description }}</small>
        {%endif%}

    </p>
</div>

{% endfor %}
{%endif%}

</body>
</html>